@charset "UTF-8";
body {
    line-height: 1.7;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #000;
}
a,
a:link {
    color:#f7ce3e;
}
a:visited {
    color:#6252b7;
}
a:hover {
    text-decoration: none;
    color: #555;
}

/* header */
header{
    display: flex;
}
header h1 {
    margin: 25px 0 0 20px;
}

header nav {
    margin: 0 0 0 auto;
}
header nav ul{
    list-style-type: none;
    margin: 20px;
    padding: 0;
    display: flex;
}
header nav ul li a,
header nav ul li a:link,
header nav ul li a:link:visited{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}
header nav ul li a:hover{
    color: #888;
}
footer{
    background-color: #6d7993;
    padding: 20px;
}
footer ul {
    list-style-type: none;
    margin: 0 0 5px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
footer ul li{
    margin: 0 0 0 20px;
}
footer ul li a,
footer ul li a:link,
footer ul li a:visited {
    text-decoration: none;
    font-size: 13px;
    color: #fff;
}
footer ul li a:hover{
    color: #888;
}
footer p{
    margin: 0;
    text-align: right;
    color: #f4f4f4;
}
main .inner{
    width: 990px;
    margin: 50px auto;
}
main h2{
    margin: 50px 0 20px;
    font-weight: normal;
    font-size: 25px;
    color: #7f6666;
    border-bottom: 1px solid #d49d89;
}
main p {
    margin: 0 0 15px;
}

main dl{
    width: 100%;
    
}
main dl dt{
    float: left;
    clear: both;
    padding: 10px 0;
    color: #998484;
}
main dl dd{
    border-bottom: solid 1px #ccc;
    margin: 0;
    padding: 10px 0 10px 15%;
}
main .title {
    padding: 50px;
    background-color: #6d7993;
} 
main .title h1 {
    margin: 0;
    line-height: 1;
    font-size: 45px;
    color: #fff;
}
main .title ol {
    list-style-type: none;
    margin: 20px 0 0;
    padding: 0;
    display: flex;
}
main .title ol li {
    font-size: 13px;
}
main .title ol li::after {
    content: ">";
    margin: 0 5px 0 10px;
}
main .title ol li:last-child::after {
    content: none;
}
main ul {
    margin: 0 0 60px;
    padding: 0 0 0 20px;
}
.home main .visual{
    background: url(../images/kusa.JPG) no-repeat center top;
    height: 550px;
    padding: 200px 50px 50px;
    box-sizing: border-box;
    
}
.home main .visual p{
    color: #ffffff;
}
.home main .visual p.catch{
    font-size: 45px;
}
.home main section{
    display: flex;
    margin-top: 50px;
}
.home main section div{
    padding: 0 40px 0 0;
}
.home main section:first-child{
    flex-direction: row-reverse;
}
.home main section:first-child div {
    padding: 0 0 0 40px;
}
.guide main .about {
    display: flex;
}
.guide main .about div {
    width: 50%;
}
.guide main dl {
    font-size: 18px;
}
.guide main dd {
    border: none;
    padding-left: 5em;
}
.guide main table {
    width: 100%;
    text-align: center;
}
.guide main table,
.guide main table th,
.guide main table td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}
.guide main table th,
.guide main table td {
    padding: 5px;
}
.guide main table th {
    background-color: #d9b310;
    color: #998484;
}
.guide main .pright {
    text-align: right;
    margin-left: 150px;
}
.sitemap main ul{
    margin-top: 50px;
}
.sitemap main ul{
    margin-top: 0 0 20px;
}
.portfolio main .table th{
    background-color: white;
    color: #998484;
}
main center{
    width: 80%;
    border: 1px solid 3ff0000;
    margin: 0 auto;
}
